body{
  background-color: #E3FDFD;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #A6E3E9;
  border-width: 5px;
  width: 5%;
}

h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
